target/
bin/
build/
.externalToolBuilders/
.settings/
.project
.classpath
.settings
.DS_Store
.svn/
maven-eclipse.xml
results.html
json_expanded_results.json
*.log
*.iml
.idea/
*.out
overlays
*.pmd
.gradle
dist/
coverage/
node_modules/
logs/
audit-files//
.tern-project
